.tags-wrap {
	cursor: default;
	/* border: solid 1px var(--serperator); */
	position: absolute;
	/* background-color: #2d2e31ac; */
	/* border-radius: var(--icon-radius); */
	/* box-shadow: var(--popover-shadow); */
	max-height: 300px;
	overflow: auto;
	position: relative;
	padding: 2px 6px;
}

ul#tags > li:nth-child(1) {
	display: none;
}

.label {
    float: left;
    padding: 3px 6px;
    color: var(--btn);
    border-radius: 4px;
    margin: 3px 5px 3px 0;
    font-weight: bold;
    text-decoration: none;
    background: #3d3d3d;
	font-weight: 500 !important;
}

.label:hover {
	color: var(--background-colour);
	background-color: var(--item-hover-select-bg);
}
